<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PolyStunter</display-name>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StoreServlet</display-name>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>servlets.StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/store</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddWarehouseServlet</display-name>
    <servlet-name>AddWarehouseServlet</servlet-name>
    <servlet-class>servlets.AddWarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWarehouseServlet</servlet-name>
    <url-pattern>/addWarehouse</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BasketActionServlet</display-name>
    <servlet-name>BasketActionServlet</servlet-name>
    <servlet-class>servlets.BasketActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketActionServlet</servlet-name>
    <url-pattern>/basketAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>servlets.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BasketServlet</display-name>
    <servlet-name>BasketServlet</servlet-name>
    <servlet-class>servlets.BasketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketServlet</servlet-name>
    <url-pattern>/basket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>ProductsServlet</display-name>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>servlets.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ProductSheetServlet</display-name>
    <servlet-name>ProductSheetServlet</servlet-name>
    <servlet-class>servlets.ProductSheetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>StoreActionServlet</display-name>
    <servlet-name>StoreActionServlet</servlet-name>
    <servlet-class>servlets.StoreActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreActionServlet</servlet-name>
    <url-pattern>/storeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>NotificationServlet</display-name>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>servlets.NotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/notification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductSheetServlet</servlet-name>
    <url-pattern>/productSheet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CustomerFilter</filter-name>
    <filter-class>filters.CustomerFilter</filter-class>
  </filter>
  <filter>
    <filter-name>DeliveryManFilter</filter-name>
    <filter-class>filters.DeliveryManFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SellerFilter</filter-name>
    <filter-class>filters.SellerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SellerFilter</filter-name>
    <url-pattern>/store</url-pattern>
    <url-pattern>/storeAction</url-pattern>
    <url-pattern>/addProduct</url-pattern>
    <url-pattern>/addWarehouse</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CustomerFilter</filter-name>
    <url-pattern>/basket</url-pattern>
    <url-pattern>/products</url-pattern>
    <url-pattern>/basketAction</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DeliveryManFilter</filter-name>
    <url-pattern>/notification</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>NotLoggedFilter</filter-name>
    <filter-class>filters.NotLoggedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NotLoggedFilter</filter-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/register</url-pattern>
    <url-pattern>/home</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoggedFilter</filter-name>
    <filter-class>filters.LoggedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/products</url-pattern>
    <url-pattern>/basket</url-pattern>
    <url-pattern>/store</url-pattern>
    <url-pattern>/productSheet</url-pattern>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>/WEB-INF/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>